<div class="admin-page-title">
  <h1>All Users</h1>
</div>

<div class="admin-table-container">
  <table class="admin-table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Admin</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>
          <td><%= link_to 'Shop', user_shop_path(user), class: "shop-link" %></td>
          <td><%= link_to 'Cart', cart_path(user.cart), class: "cart-link" %></td>
          <td><%= link_to 'Delete user', user, method: :delete,
                  data: { confirm: 'Are you sure?' }, class: "delete-link" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
