<h2>Welcome home, <%= @user.username %>!</h2>

<p>Your account details</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Go To My Shop', products_path %> |
<%= link_to 'Go To My Cart' %> |
<%= link_to 'Go To Market Place Home Page', root_path %>
