<div class="sc-header">
  <h1>
    <%= @user == current_user ? "Personal Shop" : "#{@user.username}'s Shop" %>
  </h1>
</div>


<table class="sc-main-table shop">
  <thead>
    <tr>
      <th>
        <%= link_to 'Add Item', new_product_path, class: 'add-item' if @user == current_user %>
      </th>
      <th colspan="1"></th>
      <th>Price</th>
      <th>Date Added</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="sc-image-container shop">
          <%= link_to image_tag(product.photo_url(:homepage)), product_path(product) %>
        </td>
        <td class="sc-name-container shop">
          <p>
            <%= link_to product.name, product_path(product) %>
          </p>
          <p>Quantity available:
            <% if product.quantity > 0 %>
              <%= product.quantity %>
            <% else %>
              <span>Out of stock</span>
            <% end %>
          </p>
          <p>
            Ratings: 3 / 5 |
            <% if user_signed_in? %>
              <% if product.user == current_user %>
                <span class="remove-item">
                  <%= link_to 'Remove item', product_path(product), method: :delete,
                        data: { confirm: 'This item will be removed from your shop. Are you sure?' } %>
                </span>
              <% else %>
                <%= link_to 'Add to cart', baskets_path(product_id: product.id,
                      cart_id: current_user.cart.id, quantity: 0), method: :post %>
              <% end %>
            <% end %>
          </p>
        </td>
        <td class="sc-price-container shop">
          <p>$<%= sprintf('%.2f', product.unitprice) %></p>
        </td>
        <td class="sc-date-container shop">
          <% if user_signed_in? %>
            <p>
              <%= product.created_at.in_time_zone(current_user.timezone).strftime("%I:%M%P %Z UTC%z") %>
            </p>
            <p>
              <%= product.created_at.in_time_zone(current_user.timezone).strftime("%d %b %Y") %>
            </p>
          <% else %>
            <p>
              <%= product.created_at.in_time_zone(product.user.timezone).strftime("%I:%M%P %Z UTC%z") %>
            </p>
            <p>
              <%= product.created_at.in_time_zone(product.user.timezone).strftime("%d %b %Y") %>
            </p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
