<div class="home-navbar-container">
  <div class="home-navbar-home">
    <p><%= link_to 'Home', root_path %></p>
  </div>
  <% if user_signed_in? %>
    <div class="home-navbar-shop">
      <p><%= link_to 'My Shop', user_shop_path(current_user) %></p>
    </div>
    <div class="home-navbar-cart">
      <p><%= link_to 'My Cart', cart_path(current_user.cart) %></p>
    </div>
  <% end %>
  <div class="home-navbar-login">
    <% if user_signed_in? %>
      <p>
        <%= link_to current_user.username, user_path(current_user) %>
        (<%= link_to 'Logout', destroy_user_session_path, method: :delete %>)
      </p>
    <% else %>
      <p>
        <span class="login"><%= link_to 'Login', new_user_session_path %></span>
        - access shop & cart
      </p>
    <% end %>
  </div>
</div>

<div class="sc-header">
  <h1>
    <%= @user == current_user ? "Personal Shop" : "#{@user.username}'s Shop" %>
  </h1>
</div>


<table class="sc-main-table shop">
  <thead>
    <tr>
      <th>
        <%= link_to 'Add Item', new_product_path if @user == current_user %>
      </th>
      <th colspan="1"></th>
      <th>Price</th>
      <th>Date Added</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="sc-image-container shop">
          <%= link_to image_tag(product.photo_url(:homepage)), product_path(product) %>
        </td>
        <td class="sc-name-container shop">
          <p>
            <%= link_to product.name, product_path(product) %>
          </p>
          <p>Quantity available:
            <% if product.quantity > 0 %>
              <%= product.quantity %>
            <% else %>
              <span>Out of stock</span>
            <% end %>
          </p>
          <p>
            Ratings: 3 / 5 |
            <%= link_to 'Remove item', product_path(id: product.id), method: :delete,
                  data: { confirm: 'This item will be removed from your shop. Are you sure?' } %>
          </p>
        </td>
        <td class="sc-price-container shop">
          <p>$<%= sprintf('%.2f', product.unitprice) %></p>
        </td>
        <td class="sc-date-container shop">
          <p><%= product.created_at %></p>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
