<div class="cart-header">
  <h1>
    <% if current_user.admin %>
      <%= @cart.user.username %>'s Cart
    <% else %>
      Shopping Cart
    <% end %>
  </h1>
</div>


<table class="shopping-cart">
  <tr>
    <th colspan="2"></th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>

  <% @cart.baskets.order(:id).each do |basket| %>
    <tr>
      <td class="cart-image-container">
        <%= link_to image_tag(basket.product.photo_url(:homepage)), product_path(basket.product) %>
      </td>
      <td class="cart-name-container">
        <p>
          <%= link_to basket.product.name, product_path(basket.product) %>
          by <%= link_to basket.product.user.username, user_path(basket.product.user) %>
        </p>
        <p>Quantity available:
          <% if basket.product.quantity > 0 %>
            <%= basket.product.quantity %>
          <% else %>
            <span>Out of stock</span>
          <% end %>
        </p>
        <p>
          Ratings: 3 / 5 |
          <%= link_to 'Remove item', baskets_path(basket_id: basket.id), method: :delete,
                data: { confirm: 'This item will be removed from your cart. Are you sure?' } %>
        </p>
      </td>
      <td class="cart-price-container">
        <p>$<%= sprintf('%.2f', basket.product.unitprice) %></p>
      </td>
      <td class="cart-quantity-container">
        <%= form_with url: baskets_path(basket_id: basket.id), method: :patch do |form| %>
          <p>
            <%= form.select :quantity, options_for_select((0..basket.product.quantity), basket.quantity),
                {}, { onchange: 'this.form.submit();' } %>
          </p>
        <% end %>
      </td>
    </tr>
    <% @subtotal_items += basket.quantity %>
    <% @subtotal_price += basket.quantity * basket.product.unitprice %>
  <% end %>

  <tr>
    <td colspan="4" class="cart-subtotal">
      <p>
        Subtotal (<%= @subtotal_items %> items): $<%= sprintf('%.2f', @subtotal_price) %>
      </p>
    </td>
  </tr>
</table>
