<%= form_with(model: product, local: true, class: "product-new-edit-form") do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="product-new-edit-form-field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :product_name, class: "product-form-name" %>
  </div>

  <div class="product-new-edit-form-field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description, class: "product-form-description" %>
  </div>

  <div class="product-new-edit-form-field qp">
    <div class="product-form-quantity">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, id: :product_quantity %>
    </div>
    <div class="product-form-price">
      <%= form.label :unitprice, 'Price' %>
      <%= form.text_field :unitprice, id: :product_unitprice %>
    </div>
  </div>

  <div class="product-new-edit-form-field photo">
    <%= form.label :photo, 'Add a photo' %>
    <%= form.file_field :photo, id: :product_photo %>
  </div>

  <div class="product-new-edit-form-submit">
    <%= form.submit %>
  </div>
<% end %>
