<div class="home-header">
  <div class="home-header-website">
    <p><span class="black">twoSidedMarketPlace</span>.com</p>
  </div>
  <div class="home-header-title">
    <p>BUY AND SELL PRODUCTS ONLINE</p>
  </div>
  <% if !user_signed_in? %>
    <div class="home-header-action-container">
      <a href="/users/sign_up" class="home-header-signup">
        <p>Sign up</p>
      </a>
      <a href="/users/sign_in" class="home-header-login">
        <p>Log in</p>
      </a>
    </div>
  <% end %>
</div>

<div class="home-navbar-container">
  <div class="home-navbar-home">
    <p><%= link_to 'Home', root_path %></p>
  </div>
  <% if user_signed_in? %>
    <div class="home-navbar-shop">
      <p><%= link_to 'My Shop', products_path %></p>
    </div>
    <div class="home-navbar-cart">
      <p>My Cart</p>
    </div>
  <% end %>
  <div class="home-navbar-login">
    <% if user_signed_in? %>
      <p>
        <%= link_to current_user.username, user_path(current_user) %>
        (<%= link_to 'Logout', destroy_user_session_path, method: :delete %>)
      </p>
    <% else %>
      <p>
        <span class="login"><%= link_to 'Login', new_user_session_path %></span>
        - access shop & cart
      </p>
    <% end %>
  </div>
</div>

<div class="home-banner">
  <div class="home-banner-description">
    <p>Buy without limits. Sell without limits.</p>
  </div>
</div>

<div class="home-main">
  <div class="home-main-new-release">
    <p>Hot New Release</p>
  </div>
  <ul class="home-main-products-list">
    <% @products.each do |product| %>
      <% if product.visibility %>
        <li>
          <div class="product-image-container">
            <%= link_to image_tag(product.photo_url(:homepage)), product_path(product) %>
          </div>
          <div class="product-info-container">
            <p><%= product.name %></p>
            <p>$<%= sprintf('%.2f', product.unitprice) %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="home-footer">
  <% if user_signed_in? && current_user.admin %>
    <div class="home-footer-admin">
      <p><%= link_to 'Manage Users', users_path %></p>
    </div>
  <% end %>
  <div class="home-footer-text">
    <p>@ 2018 Powered By Heroku</p>
  </div>
</div>
