<div class="home-header">
  <div class="home-header-website">
    <p><span class="black">twoSidedMarketPlace</span>.com</p>
  </div>
  <div class="home-header-title">
    <p>BUY AND SELL PRODUCTS ONLINE</p>
  </div>
</div>

<div class="home-main">
  <div class="home-main-description">
    <p>Buy without limits. Sell without limits.</p>
    <p class="tc">* Subject to terms and conditions.</p>
  </div>
</div>

<hr>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th colspan="1"></th>
      <th>Seller</th>
      <th>Quantity</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <% if product.visibility %>
        <tr>
          <td><%= image_tag product.photo_url(:homepage) %></td>
          <td><%= product.name %></td>
          <td><%= link_to product.user.username, user_path(product.user) %></td>
          <td>
            <% if product.quantity > 0 %>
              <%= product.quantity %>
            <% else %>
              Out Of Stock
            <% end %>
          </td>
          <td><%= product.unitprice %></td>
          <td><%= link_to 'View Product', product %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <%= link_to 'Manage Users', users_path if current_user.admin %>
</p>
<%= link_to 'Go To My User Home Page', user_path(current_user) %><br>
<%= link_to 'View My Cart' %><br>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
