<div class="home-header">
  <div class="home-header-website">
    <p><span class="black">riverSite</span>.com</p>
  </div>
  <div class="home-header-title">
    <p>BUY AND SELL PRODUCTS ONLINE</p>
  </div>
  <%= display_signup_and_login %>
</div>

<%= render '/layouts/navbar' %>

<div class="home-banner">
  <div class="home-banner-description">
    <p>Buy without limits. Sell without limits.</p>
  </div>
</div>

<div class="home-main">
  <div class="home-main-new-release">
    <p>Hot New Release</p>
  </div>
  <ul class="home-main-products-list">
    <% @recent_products.each do |product| %>
      <li>
        <div class="product-image-container">
          <%= product_photo_link(product) %>
        </div>
        <div class="product-info-container">
          <p>by <%= username_link(product.user) %></p>
          <p>$<%= product_price(product) %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
