<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Unitprice</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.photo_url(:homepage) %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.quantity %></td>
        <td><%= product.unitprice %></td>
      </tr>
    <% end %>
  </tbody>
</table>
