<div class="sc-header">
  <h1>Main Products Page</h1>
</div>


<div class="products-main-container">

  <div class="products-filter-form-container">
    <%= form_with url: products_path, method: :get, local: true, html: { class: "filter-form" } do |form| %>
    <div class="filter-form-title">
      <p>Search filter</p>
    </div>

    <div class="filter-form-field-name">
      <%= form.label :product_name, "Product name:" %>
      <%= form.text_field :product_name, value: params[:product_name] %>
    </div>

    <div class="filter-form-field-price">
      <p>Price:</p>
      <div class="filter-form-price">
        <%= form.label :min_price, "Min" %>
        <%= form.text_field :min_price, value: params[:min_price], class: "min-price" %>
      </div>
      <div class="filter-form-price">
        <%= form.label :max_price, "Max" %>
        <%= form.text_field :max_price, value: params[:max_price], class: "max-price" %>
      </div>
    </div>

    <div class="filter-form-action">
      <%= form.submit "Filter" %>
    </div>
    <% end %>
  </div>

  <table class="sc-main-table products">
    <thead>
      <tr>
        <th colspan="2"></th>
        <th>Price</th>
        <th>Date Added</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td class="sc-image-container shop">
            <%= link_to image_tag(product.photo_url(:homepage)), product_path(product) %>
          </td>
          <td class="sc-name-container shop">
            <p>
              <%= link_to product.name, product_path(product) %>
              by <%= username_link(product.user) %>
            </p>
            <p>Quantity available: <%= product_quantity(product) %></p>
            <p>
              <%= product_rating(product) %>
            </p>
          </td>
          <td class="sc-price-container shop">
            <p><%= product_price(product) %></p>
          </td>
          <td class="sc-date-container shop">
            <p>
              <%= product.created_at.in_time_zone("Brisbane").strftime("%d %b %Y") %>
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>
