<div class="home-navbar-container">
  <div class="home-navbar-home">
    <p><%= link_to 'Home', root_path %></p>
  </div>
  <% if user_signed_in? %>
    <div class="home-navbar-shop">
      <p><%= link_to 'My Shop', products_path %></p>
    </div>
    <div class="home-navbar-cart">
      <p>My Cart</p>
    </div>
  <% end %>
  <div class="home-navbar-login">
    <% if user_signed_in? %>
      <p>
        <%= link_to current_user.username, user_path(current_user) %>
        (<%= link_to 'Logout', destroy_user_session_path, method: :delete %>)
      </p>
    <% else %>
      <p>
        <span class="login"><%= link_to 'Login', new_user_session_path %></span>
        - access shop & cart
      </p>
    <% end %>
  </div>
</div>

<div>
  <%= image_tag @product.photo_url(:medium) %>
</div>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Seller:</strong>
  <% if @product.user == current_user %>
    <%= link_to @product.user.username, user_path(@product.user) %><span> (You)</span>
  <% else %>
    <%= link_to @product.user.username, user_path(@product.user) %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity Available:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Price per Unit:</strong>
  $<%= @product.unitprice %>
</p>

<p>
  <%= link_to 'Edit Product', edit_product_path(@product) if @product.user == current_user %>
</p>
<% if @product.user != current_user %>
  <p>
    <%= link_to 'Add To Cart', baskets_path(product_id: @product.id, cart_id: current_user.cart.id, quantity: 1), method: :post %>
  </p>
<% end %>
<%= link_to 'Back To Market Place Home Page', root_path %>
