<div>
  <%= image_tag @product.photo_url(:medium) %>
</div>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Seller:</strong>
  <% if @product.user == current_user %>
    <%= @product.user.username %> (You)
  <% else %>
    <%= @product.user.username %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity Available:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Price per Unit:</strong>
  $<%= @product.unitprice %>
</p>

<p>
  <%= link_to 'Edit Product', edit_product_path(@product) if @product.user == current_user %>
</p>
<p>
  <%= link_to 'Add To My Cart' if @product.user != current_user %>
</p>
<%= link_to 'Back To Market Place Home Page', root_path %>
