<div class="navbar-container">
  <div class="navbar-searchbar-container">
    <%= form_with url: products_path, local: true, method: :get, html: { class: "searchbar-form" } do |form| %>
      <div class="navbar-searchbar">
        <%= form.text_field :product_name, value: "Search for any products..." %>
      </div>

      <div class="searchbar-submit">
        <%= form.submit "" %>
      </div>
    <% end %>
  </div>

  <div class="navbar-buttons">
    <div class="navbar-home">
      <p><%= link_to 'Home', root_path %></p>
    </div>
    <div class="navbar-shop">
      <%= show_shop(current_user) %>
    </div>
    <div class="navbar-cart">
      <%= show_cart(current_user) %>
    </div>
    <div class="navbar-login">
      <%= show_login_link(current_user) %>
    </div>
  </div>
</div>
