<!DOCTYPE html>
<html>
  <head>
    <title>riverSite.com</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= (params[:controller] + '-' + params[:action]).tr('/', '-') %>">
    <%= yield %>
    <div class="footer">
      <% if user_signed_in? && current_user.admin %>
        <div class="footer-admin">
          <p><%= link_to 'Manage Users', users_path %></p>
        </div>
      <% end %>
      <div class="footer-text">
        <p>@ 2018 Powered By Heroku</p>
      </div>
    </div>
  </body>
</html>
